body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.header, .about{
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 32px;
    font-weight: 900;
    padding: 0px 110px;
    flex-wrap: wrap;
}

.left, .right{
    flex: 1;
}


.links{
    display: flex;
    gap: 16px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

.about{
    padding: 100px 110px;
}

.main-text{
    font-size: 48px;
    font-weight: 900;
    margin: 0;
    padding-bottom: 16px;
}

.secondary{
    font-size: 18px;
    color: #E5E7EB;
    margin: 0px;
    padding: 0px;
    padding-bottom: 8px;
    text-align: center;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.NYC{
    margin-left: 300px;
    height: 281px;
    width: 464px;
}


.sign-up, .sign-up2{
    font-family: Roboto, sans-serif;
    border-radius: 8px;
    background: #24a0ed ;
    padding: 8px 16px;
    color: white;
    margin-bottom: 16px;
}

.sign-up{
    border: none;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    padding: 16px;
    margin: 8px;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.attractions{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    justify-content: space-around;
    margin-left: 15px;
    flex: 1;
}

.site{
    flex: 1;
}

img{
    display: flex;
    height: 500px;
    width: 350px;
    border-radius: 25px;
    transition: all .2s ease-in-out;
}

img:hover{
    transform: scale(1.05);
}

.detail{
    color: #1F2937;
    font-size: large;
    font-weight: 700;
}

.quote{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    padding: 100px;
    background-color: #E5E7EB;
}

.action{
    display: flex;
    background-color: #24a0ed;
    margin: 100px 100px;
    padding: 100px;
    gap: 100px;
    justify-content: center;
    border-radius: 25px;
}

.time, .tour{
    color: white;
    font-size: 25px;
    margin: 0;
    padding: 0;
}

.time{
    font-size: 50px;
    font-weight: 700;
}

.button-sign{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up2{
    border-color: white;
    margin: 16px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    padding: 50px 50px;
    color: white;
    font-size: 30px;
}

button{
    transition: all .2s ease-in-out;
}

button:hover{
    transform: scale(1.05);
}