body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.header, .about{
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 32px;
    font-weight: 900;
    padding: 0px 110px;
    flex-wrap: wrap;
}

.links{
    display: flex;
    gap: 16px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

.about{
    padding: 100px 110px;
}

.main-text{
    font-size: 48px;
    font-weight: 900;
    margin: 0;
    padding-bottom: 16px;
}

.secondary{
    font-size: 18px;
    color: #E5E7EB;
    margin: 0px;
    padding: 0px;
    padding-bottom: 8px;
}

.NYC{
    height: 25%;
    width: 25%;
}

.sign-up{
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 8px;
    background: #24a0ed ;
    padding: 8px 16px;
    color: white;
    margin-bottom: 16px;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    padding: 16px;
    margin: 8px;
}

.attractions{
    display: flex;
}

.sites{
    display: flex;
    flex: 1;
}